#header
	background: url("../img/heroBackground.jpg") no-repeat
	background-size: cover
	background-position: center
	height: 700px
	color: white
	text-align: center
	overflow: hidden

	@media only screen and (max-width: 680px)
		height: 500px

	img
		max-width: 500px
		width: 100%

	h1
		color: white
		text-transform: uppercase
		margin-bottom: 10px

		@media only screen and (max-width: 680px)
			margin-top: 60px

	article
		width: 80%
		margin: 0 auto

		@media only screen and (max-width: 680px)
			width: 100%

	p
		width: 550px
		margin: 20px auto
		font-size: 17px

		@media only screen and (max-width: 680px)
			margin-bottom: 60px