#header
	background: url("../img/heroBackground.jpg") no-repeat
	background-size: cover
	height: 700px
	color: white
	text-align: center
	overflow: hidden

	img
		max-width: 500px
		width: 100%

	h1
		color: white
		text-transform: uppercase
		margin-bottom: 10px

	article
		width: 80%
		margin: 0 auto

.main-nav
	display: flex
	margin-top: 20px
	padding: 0

	li
		list-style: none

	li:first-child
		margin-right: auto
		padding: 10px 0

		a
			padding: 0

	a
		color: white
		display: inline-block
		border-radius: 4px
		padding: 10px 50px
		text-decoration: none
		font-weight: 900
		text-transform: uppercase

a.download
	background: white
	color: $ocean
	box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.2)
	border-radius: 0px

#brands ul
	margin: 0
	padding: 20px 0
	background: white
	display: grid
	grid-template-columns: repeat(6, auto)
	text-align: center

	@media only screen and (max-width: 800px)
		grid-template-columns: repeat(3, auto)

	li
		list-style: none
		width: 100%