#download
	background: url("../img/downloadBackground.jpg") no-repeat
	background-size: cover
	color: white
	text-align: center
	padding: 100px 0
	margin-top: -70px

	h2
		color: white
		font-size: 68px
		text-transform: uppercase
		font-weight: 900
		margin: 0

	p
		width: 100%
		max-width: 450px
		margin: 30px auto
		font-weight: 900

	.button
		position: relative
		width: 250px
		margin: 0 15px
		padding-left: 80px

	.apple:before, .android:before
		position: absolute
		display: block
		left: 18%
		top: 19px

	.apple:before
		content: url("../img/appleicon.png")

	.android:before
		content: url("../img/playicon.png")